apiVersion: v1
kind: Service
metadata:
  name: adminer
  namespace: slotify
  labels:
    app: adminer
spec:
  type: LoadBalancer
  selector:
    app: adminer
  ports:
  - port: 8081
    targetPort: 8080
    protocol: TCP
    name: http
